body, html{
	font-family: "Myriad Pro", "Myriad", "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, Arial, sans-serif;
	
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

nav {
	color: white;
	font-weight: 600;
}

#menu-top {
	background:url(../images/menu-bar-top.png); 
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 20%;
	display: block;
	color:white;
/*	-webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;*/
}

/*.menu-container {
  position: relative;
  top: 50%;
  transform: translateY(10%);
}*/

.mini {
	margin-left: 70%;
}

.top-icons {
}

#menu-bottom {
	background:url(../images/menu-bar-bottom.png); 
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
}

.menu-icons {
	padding-top: 2%;
	padding-bottom: 1%;
	text-align: center;
}

.Spacer {
	background-color: rgb(28, 133, 216);
	position: absolute;
	top: 1%; 
	width: 1px;
	height: 20px;
}

.dashboard {
	 background-color: #33cc66;
	 color: white;
	 font-weight: 300;
	 height: 20%;
	 border-radius: 6px 6px 6px 6px;
	 margin-top: 20px;
	 margin-right: 10%;
	 margin-left: 8%;
}

@media (max-width: 768px) {
	.dashboard {
		margin-left: 0;
		width: 100%;
	}
}


.dashboard input[type=submit] {
  /*   no-repeat scroll 0 0 transparent;*/
	border:none;
	background:url(../images/search.png);
	background: 100% 100%;
	background-color: transparent;
}

.dashboard button {
	
    border-radius: 0px 3px 3px 0px;
    border: 1px solid #2db55b;
    border-left: 0px;
    background: #f4f4f4;
    display: inline-block;
    height: 100%;
    margin-top: 10%;
}

input[type=search]{
	border: 0;
	border: 1px solid #2db55b;
	border-right: 0px;
	border-radius: 3px 0px 0px 3px;
	background: #f4f4f4;
	display: inline-block;
	width: 60%;
	height: 50%;
}


#main-background-gradient {
	background:url(../images/main-background-gradient.png); 
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-top: 20px;
	margin-left: 7%;
	margin-right: 9%;
	border-radius: 7px 7px;
	height: 100%;
}

.main-content-container {
	border-right: 1px solid #efefef;
	border-left: 1px solid #efefef;
	padding-top: 10px;
	margin-right: 20px; 
	margin-left: 20px;
}

/*.main-content-container .col-md-2 {
	background-color: #fff;
	padding-top: 10px;
	text-align: center;
	border: 1px solid #eeeeee;
	border-left, border-bottom: 0px;
	padding-top: 12px;
	padding-bottom: 1px;
}*/

.announcements-top {
	text-transform: uppercase;
	color: #f37f13;

	background-color: #fff;
	padding-top: 10px;
	text-align: center;
	border: 1px solid #eeeeee;
	border-left, border-bottom: 0px;
	padding-top: 12px;
	padding-bottom: 1px;
}

.main-content-container .announcement-tron {
	background-color: #fff;
	padding-top: 10px;
	color: #777777;
	text-align: left;
	border: 1px solid #eeeeee;
	border-left: 0px;
	border-right: 0px;
	padding-top: 12px;
	padding-bottom: 1px;
}

.main-content-container .announcement-buttons {
	background-color: #fff;
	padding-top: 10px;
	text-align: center;
	border: 1px solid #eeeeee;
	padding-top: 12px;
	padding-bottom: 5px;
}

.main-content-container .col-md-1 .arrow-button-left {
	background: url(../images/button-left.png);
	border: none;
	background-color: transparent;
	height: 22px;
	width: 22px;
}

.main-content-container .col-md-1 .arrow-button-right {
	background: url(../images/button-right.png);
	border: none;
	background-color: transparent;
	height: 22px;
	width: 22px;
}

.main-content-container .borders-padding-for-tasks-title {
	background-color: #fff;
	padding-top: 2px;
	padding-bottom: 0px;
	border-right: 1px solid #efefef;
	border-left: 1px solid #efefef;

}

.main-content-container .tasks-title, .analytics-title .blue {
	color: #2498f4;
}
.grey-upon-hover h3{
	color: #2498f4;
	text-decoration: none; 
}

.grey-upon-hover h3:hover{
	color: #cccccc;
	text-decoration: none; 
}
.main-content-container .analytics-title {
	background-color: #fff;
	padding-top: 2px;
}

.tasks-row {
	background-color: #fff;
	padding-left: 10px;
	padding-right: 5px;
	margin-top: 0;
	padding-top: 0;
	border-bottom: 1px solid #eeeeee;
}

.tasks-row:hover, .grey-upon-hover:hover {
	color: #cccccc;
	text-decoration: none; 
}

.tasks-row, .grey-upon-hover a:link {
	color: #2498f4;
	text-decoration: none; 
}

.tasks-row, .grey-upon-hover a:visited {
	color: #2498f4;
	text-decoration: none; 
}

.tasks-row, .grey-upon-hover a:hover {
	color: #cccccc;
	text-decoration: none; 
}

.tasks-row, .grey-upon-hover a:active {
	color: #cccccc;
	text-decoration: none; 
}


.gear-button {
	background: url(../images/tasks-gear.png);
	border: none;
	background-color: transparent;
	height: 20px;
	width: 20px;
	float: right;
	margin-top: 2%;
}

.tasks-row-1:hover .sprite-green-1 {
	background-position: -73px -5px;
}

.tasks-row-1 .welcome-contacts {
	background:url(../images/tasks-icons/welcome-contacts-default.png);
	background-color: transparent;
	height: 30px;
	width: 60px;
	float: right;
}

.tasks-row-1:hover .welcome-contacts {
	background:url(../images/tasks-icons/welcome-contacts.png);
	background-color: transparent;
	height: 30px;
	width: 60px;
	float: right;
}

.tasks-row-2:hover .sprite-green-2 {
	background-position: -73px -39px;
}

.tasks-row-2 .responses {
	background:url(../images/tasks-icons/responses-default.png);
	background-color: transparent;
	height: 30px;
	width: 60px;
	float: right;
}

.tasks-row-2:hover .responses {
	background:url(../images/tasks-icons/responses-hover.png);
	background-color: transparent;
	height: 30px;
	width: 60px;
	float: right;
}

.tasks-row-3:hover .sprite-green-3 {
	background-position: -5px -73px;
}

.tasks-row-3 .review {
	background:url(../images/tasks-icons/responses-default.png);
	background-color: transparent;
	height: 30px;
	width: 60px;
	float: right;
}

.tasks-row-3:hover .review {
	background:url(../images/tasks-icons/responses-hover.png);
	background-color: transparent;
	height: 30px;
	width: 60px;
	float: right;
}

.tasks-row-4:hover .sprite-green-4 {
	background-position: -39px -73px;
}

.tasks-row-4 .reach-out {
	background:url(../images/tasks-icons/reach-default.png);
	background-color: transparent;
	height: 30px;
	width: 60px;
	float: right;
}

.tasks-row-4:hover .reach-out {
	background:url(../images/tasks-icons/reach-hover.png);
	background-color: transparent;
	height: 30px;
	width: 60px;
	float: right;
}

.reccs-row {
	background-color: #fff;
	padding-right: 5px;
	margin-top: 0;
	padding-top: 0;

}

.recc-link:hover{
	text-decoration: none;
}

.recc-link a:link {
	color: #777777;
	text-decoration: none; 
}

.recc-link a:visited {
	color: #777777;
	text-decoration: none; 
}

.recc-link a:hover {
	color: #cccccc;
	text-decoration: none; 
}

.recc-link a:active {
	color: #cccccc;
	text-decoration: none; 
}

.reccs-row-2{
	color: #777777;
	background-color: #fff;
	padding-right: 5px;
	margin-top: 0;
	padding-top: 0;
}

.recc-top-text {
	font-size: .8em;
	margin-bottom: 0;
}

.recc-bottom-text {
	font-size: 1.2em;
}

.bottom-dashed{
    margin-bottom: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;/*  << you can specify how far from the left you want the line to be */
    border: 0;
    border-bottom: 2px dotted #eeeeee; /* you may match this border with the right border of the <div>*/
}

/*
a:link - a normal, unvisited link
a:visited - a link the user has visited
a:hover - a link when the user mouses over it
a:active - a link the moment it is clicked
*/


.push-right-a-lil-bit{
	padding-left: 4%;
}

.push-left-a-lil-bit{
	margin-left: -20px;
}


.push-right-some{
	padding-left: 2%;
}

.push-left-some{
	margin-left: 2%;
}

.number-span{
	display: inline-block;
}

.grey-uppercase {
	text-transform: uppercase;
	font-size: .9em;
	color: #999;
	margin-left: 3%;
}

/*.analytics-image {
	background: url(../images/analytics-image.png);
	background-size: contain;
}*/
@supports (pointer-events: none) and
	  ((-webkit-appearance: none) or
	  (-moz-appearance: none) or
	  (appearance: none)) {

	.orange-dropdown {
		position: absolute;
	    display: inline-block;
	    vertical-align: middle;
	}

	.orange-dropdown select{
		background-color: #fff;
		color: #666666;
		border-top: 1px solid #ddd;
		border-left: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		border-radius: 2px 0px 0px 2px;
		padding: .3em 2.5em .2em .8em;
		height: 2em;
		-webkit-appearance: button;
		border-right: 1px solid #f5f5f5;
		text-overflow: '';
		-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none; 
	}

	.custom-dropdown::before,
		.custom-dropdown::after {
			content: "";
			position: absolute;
			pointer-events: none;
		}

	.orange-dropdown:after {
		/*background:url(../images/dropdown-arrow.png);*/
		 content: url(../images/dropdown-arrow.png);
	  padding-right: 5px;
	  padding-left: 3px;
	  padding-top: 6px;
	  padding-bottom: 5px;
	  top: 50%;
	  margin-top: 1em;
	  margin-left: -1.2em;
	  border-top: 1px solid #ddd;
	  border-right: 1px solid #ddd;
	  border-bottom: 1px solid #ddd;
	  border-radius: 0px 2px 2px 0px;
	}

	.orange-drowndown::before {
	  width: 2em;
	  right: 2em;
	  top: 0;
	  bottom: 0;
	  left: -1.2em;
	  border-radius: 0 2px 2px 0;
	}
}

.left-to-right {
	height: 230px;
    border-width: 3px 0 3px 3px;
    border-style: solid;
    -webkit-border-image:
      -webkit-gradient(linear, 100% 0, 0 0, from(#dddddd), to(#f6f6f6)) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(right, #ddd, #f6f6f6) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(right, #ddd, #f6f6f6) 1 100%;  
    -o-border-image:
      -o-linear-gradient(right, #ddd, #f6f6f6) 1 100%;
    border-image:
      linear-gradient(to right, #ddd, #f6f6f6) 1 100%; 
}


.checkbox-orange input {
	display:none;
	 /*empty box*/
	/* margins, padding, border... all to 0*/

}

.checkbox-orange span {
	display: inline-block;
	background:url(../images/checkmark-2-unchecked.png);
	height: 21px;
	width: 22px;
}

/* on click: background image is checked*/

.checkbox-orange input:checked + span /*maybe :clicked*/{
	height: 21px;
	width: 22px;
	background:url(../images/checkmark-2-checked.png);
}

label[for=fb] img{
	padding-bottom: 12px;
	padding-right: 1em;
}

label[for=twitter] img{
	padding-bottom: 12px;
	padding-right: 1em;
}

label[for=foursquare] img{
	padding-bottom: 12px;
	padding-right: 1em;
}

label[for=googleplus] img{
	padding-bottom: 12px;
}

.centered-checkboxes {
	text-align: center;
}


.side-box-clip-left {
	background-color: #218fe6;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 45% 50%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 45% 50%);
	position: absolute;
	float: left;
	margin-left: -5%;
	height: 20%;
	min-width: 5.1%;
	top: 29.3%;
	transform: translateY(-70.7%);
	z-index: 30;
}

.side-box-clip-right {
	background-color: #218fe6;
	-webkit-clip-path: polygon(0 0, 100% 0, 65% 50%, 100% 100%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 65% 50%, 100% 100%, 0 100%);
	position: absolute;
	margin-left: 99.9%;
	float: left;
	/*margin-right: 5%;*/
	height: 20%;
	min-width: 5%;
	top: 29.3%;
	transform: translateY(-70.7%);
	z-index: 30;
}

.contacts-icon {
	background:url(../images/contacts-icon.png);
	background-size: 100% 100%;
	position: absolute;
	float: left;
	margin-left: 35%;
	height: 40%;
	/*min-width: 5.1%;*/
	top: -15%;
	width: 35%;
	transform: translateY(-15%);
	z-index: 28;
}

.customers-icon {
	background:url(../images/customers-icon.png);
	background-size: 100% 100%;
	position: absolute;
	float: left;
	margin-left: 35%;
	height: 40%;
	/*min-width: 5.1%;*/
	top: -15%;
	width: 35%;
	transform: translateY(-15%);
	z-index: 28;
}
.contacts-customers-box-container {
	background-color: transparent;
	height: 80%;
	min-height: 200px;
	width: 86%;
	margin-left: 7%;
	margin-top: 25%;
	margin-bottom: 6%;
}

.con-cus-white-box {
	border: 1px solid #d9d9d9;
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #b2b2b2;
	background-color: white;
	border-radius: 5px;
	height: 100%;
	min-height: 200px;
	width: 100%;
	-webkit-box-shadow: 0px 1px 2px 1px #d9d9d9;
	-moz-box-shadow: 0px 1px 2px 1px #d9d9d9;
	box-shadow: 0px 1px 2px 1px #d9d9d9;
	position: relative;
}

.con-cus-blue-textbox {
	background-color: #2394ee;
	position: absolute;
	float: left;
	width: 100%;
	min-height: 20%;
	top: 30%;
	transform: translateY(-70%);
	color: white;
	text-align: center;
	text-transform: uppercase;
	z-index: 29;
}

.con-cus-blue-textbox .top-text {
	padding-top: 5px;
	font-size: 1.2em;
}

.con-cus-blue-textbox .bottom-text {
	font-size: .8em;
	padding-bottom: 5px;
}

.cus-graph-container {
	position: absolute;
	top: 62%;
	transform: translateY(-38%);
	float: left;
	margin-left: 5%;
	height: 50%;
	width: 90%;
}

.cus-graph {
	background: url(../images/customers-graph.png);
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
}

.con-graph {
	background: url(../images/contacts-graph.png);
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
}

.conatainer-for-didyk {
	height: 80%;
	width: 96%;
	margin-left: 2%;
	margin-top: 4%;
	margin-bottom: 5%;
}

.blue-did-you-know {
	background-color: #2498f4;
	/*background:url(../images/ticket-background.png);
	background-repeat: no-repeat;*/
	background-size: 100% 100%;
	border-radius: 5px;
	border: 0;
	height: 100%;
/*	width: 100%;*/
	position: relative;
	/*display: table;*/
	min-height: 170px;
}

.analytics-bottom-two-boxes-top-border {
	border-top: 1px solid #e9e9e9;
}

.didyk-sides-border {
	border-left: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
}

.did-you-know-top-text {
	color: white;
	font-size: .9em;
	text-transform: uppercase;
	margin-left: 10%;
	padding-top: 4em;
	line-height: .1em;
}

.did-you-know-body-text {
	color: white;
	font-size: 1.1em;
	margin-left: 10%;
	padding-bottom: 1em;
	margin-right: 10%;
}

.did-you-know-left-button-container {
	position: absolute;
	float: left;
	top: 50%;
	transform: translateY(-50%);
    left: 0;
	background-color: white;
	height: 4em;
	width: 2em;
    border-bottom-right-radius: 45px;
    border-top-right-radius: 45px;
}

.did-you-know-left-button-container img {
	position: absolute;
	float: left;
	top: 50%;
	transform: translateY(-50%);
}


.did-you-know-right-button-container {
	position: absolute;
	float: left;
	top: 36%;
    right: 0;
	background-color: white;
	height: 4em;
	width: 2em;
	background-color: white;
    border-bottom-left-radius: 45px;
    border-top-left-radius: 45px;
}

.did-you-know-right-button-container img { 
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.next-to-bottom-container {
	background-color: #2498f4;
	height: 100%;
	min-height: 220px;
	width: 100%;
}

@media(max-width:500px){
	.next-to-bottom-container {
		padding-bottom: 25%;
	}
}

@media (min-width:500px) and (max-width: 990px){
	.next-to-bottom-container {
		padding-bottom: 18%;
	}
}

@media (min-width: 1600px){
	.next-to-bottom-container {
		padding-bottom: 8%;
	}
}

.next-to-bottom-boxes-container {
	border: 0;
	height: 100%;
	width: 96%;
	padding-top: 10%;
	padding-bottom: 100px;
	margin-left: 2%;
	position: relative;
}

.next-to-bottom-boxes {
	position: absolute;
	background-color: white;
	background-size: 100% 100%;
	border-radius: 4px;
	height: 100%;
	min-height: 150px;
	width: 100%;
	margin-bottom: 40px;
}

.watch-wat-u-say {
	background:url(../images/watch-say.png);
	border-radius: 4px;
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
}

.ver-2-coming {
	background:url(../images/version-2-coming.png);
	border-radius: 4px;
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
}

.boy-wit-the-head {
	background:url(../images/boy-wit-the-head.png);
	border-radius: 4px;
	margin-top:-10px;
	background-size: 100% 100%;
	height: 107%;
	width: 100%;
}

.grey-background-bottom-bar {
	margin-top: 20px;
	background-color: #f9f9f9;
	background-size: cover;
	width: 100%;
	min-height: 3.1em;
	margin-left: 0;
	margin-right: 0;
	border-top: 1px solid #f1f1f1;
}

.lil-white-line-at-top {
	border-top: .2em solid #fbfbfb;
}